<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="position_point" params="prefix color">

    <link name="${prefix}_position_point_link">

      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.01"/>
        <inertia ixx="0.0001" ixy="0" ixz="0"
                 iyy="0.0001" iyz="0" izz="0.0001"/>
      </inertial>

      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://ur5e_workcell/meshes/Position_Point.stl"/>
        </geometry>
        <material name="${prefix}_color">
          <color rgba="${color}"/>
        </material>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://ur5e_workcell/meshes/Position_Point.stl"/>
        </geometry>
      </collision>

    </link>

  </xacro:macro>

</robot>
